{% autoescape false %}
{% if task.category_id is not empty %}
<div class="task-board-category-container task-board-category-container-color">
    <span class="
            task-board-category
            category-{{ task.category_name | escape }}
            {% if task.category_color_id %}color-{{ task.category_color_id }}
        "
    >
    {% if not_editable %}
        {{ task.category_name | escape }}
    {% else %}
        <a href="{{ helper.task_category_href }}">
            {{ task.category_name | escape }}
        </a>
        {% if task.category_description is not empty %}
            {{ helper.task_description_icon }}
        {% endif %}
    {% endif %}
    </span>
</div>
{% endif %}

{% if task.tags is not empty %}
<div class="task-tags">
    <ul>
        {% for tag in tasks.tag %}
        <li class="task-tag {% fi tag.color_id %}color-{{ tag.color_id }}">
            {{ this.text.e({{ tag.name }}) }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="task-board-icons">
    <div class="task-board-icons-row">
        {% if task.reference %}
        <span class="task-board-reference" title="{{ 'Reference' | t }}">
                <?= $this->task->renderReference($task) ?>
            </span>
        <?php endif ?>
    </div>
    <div class="task-board-icons-row">
        {% if task.is_milestone == 1 %}
        <span title="{{ 'Milestone' | t }}">
                <i class="fa fa-flag flag-milestone"></i>
            </span>
        {% endif %}

        {% if task.score %}
        <span class="task-score" title="{{ 'Complexity' | t }}">
            <i class="fa fa-trophy"></i>
            {{ task.score | escape }}
        </span>
        {% endif %}

        {% if task.time_estimated is not empty || task.time_spent is not empty %}
        <span class="task-time-estimated" title="{{ 'Time spent and estimated' | t }}">
                {{ task['time_spent'] | escape }}/{{ task['time_estimated'] | escape }}h
        </span>
        {% endif %}

        {% if task.date_due is not empty %}
        <span class="
            task-date
            {% if helper.task_overdue %}
                task-date-overdue
            {% helper.task_due_today %}
                task-date-today
            {% endif %}
            "
        >
            <i class="fa fa-calendar"></i>
            {{ helper.task_due_formatted }}
            </span>
        {% endif %}
    </div>
    <div class="task-board-icons-row">

        {% if task['recurrence_status'] == helper.RECURRING_STATUS_PENDING %}
            <span class="tooltip" data-href="{{ helper.task_recurrence_href | raw }}">
                <i class="fa fa-refresh fa-rotate-90"></i>
            </span>
        {% endif %}

        {% if task['recurrence_status'] == helper.RECURRING_STATUS_PROCESSED %}
            <span class="tooltip" data-href="{{ task_recurrence_href | raw }}">
                <i class="fa fa-refresh fa-rotate-90 fa-inverse"></i>
            </span>
        {% endif %}

        {% if task.nb_links is not empty %}
            <span class="tooltip" data-href="{{ task_nb_links_href | raw }}">
                <i class="fa fa-code-fork fa-fw"></i>{{ task.nb_links | escape }}
            </span>
        {% endif %}

        {% if task.nb_external_links is not empty %}
            <span class="tooltip" data-href="{{ task_nb_external_links_href | raw }}">
                <i class="fa fa-external-link fa-fw"></i>{{ task.nb_external_links | escape }}
            </span>
        {% endif %}

        {% if task.nb_subtasks is not empty %}
            <span class="tooltip" data-href="{{ task_nb_subtasks_href | raw }}">
                <i class="fa fa-code-fork fa-fw"></i>{{ task.nb_completed_subtasks / task.nb_subtasks * 100 | round) }}%
            </span>
        {% endif %}

        {% if task.nb_files is not empty %}
            <span class="tooltip" data-href="{{ task_nb_files_href | raw }}">
                <i class="fa fa-paperclip fa-fw"></i>{{ task.nb_files | escape }}
            </span>
        {% endif %}

        {% if task.nb_comments > 0 %}
            {% if helper.task_not_editable %}
                <span title="{{ task['nb_comments'] == 1 ? '%d comment' : '%d comments' | t(task.nb_comments) }}">
                    <i class="fa fa-comments-o"></i>&nbsp;{{ task['nb_comments'] }}
                </span>
            {% else %}
                {{ helper.task_comments_modal }}
            {% endif %}
        {% endif %}

        {% if task.description is not empty %}
            <span class="tooltip" data-href="{{ task_description_href }}">
                <i class="fa fa-file-text-o"></i>
            </span>
        {% endif %}

        {% if task.is_active == 1 %}
        <div class="task-icon-age">
            <span title="{{ 'Task age in days' | t }}" class="task-icon-age-total">
                {{ helper.task_date_created }}
            </span>
            <span title="{{ 'Days in this column' | t }}" class="task-icon-age-column">
                {{ helper.task_date_moved }}
            </span>
        </div>
        {% else %}
        <span class="task-board-closed">
            <i class="fa fa-ban fa-fw"></i>
            {{ 'Closed' | t }}
        </span>
        {% endif %}

        {{ helper.task_render_priority }}

        {{ helper.hook_render_task_icons }}
    </div>
</div>

{{ helper.hook_render_task_footer }}

{% autoescape true %}
